---
import { formatDateTime } from "@/src/utils/date";
import { Image } from "astro:assets";
import { generateResponsiveImageData } from "@/src/utils/optimizeImage";
import { getBlogCategory } from "@/src/utils/storyblok";
import { getBlogGlobalData } from "@/src/utils/storyblok";
import { getStoryblokVersion } from "@/src/utils/env";

const blogGlobalData = await getBlogGlobalData(getStoryblokVersion());

interface Props {
  headline: string;
  date: string;
  introText: string;
  slug: string;
  image: {
    src: string;
    focus?: string | null;
  };
  alt: string;
  linkText?: string;
  category: string[];
}

const { headline, date, introText, slug, image, alt, category } = Astro.props;

const imageData = generateResponsiveImageData(image.src, {
  breakpoints: [240, 320, 400, 560, 800, 1024, 1280],
  aspectRatio: 3 / 2,
  sizes:
    "(max-width: 640px) 100vw, (max-width: 1024px) 50vw, (max-width: 1280px) 33vw, 400px",
  focus: image.focus || undefined, // Focal point from Storyblok
});

const categories = await Promise.all(
  category?.map((category: string) =>
    getBlogCategory(category, getStoryblokVersion()),
  ),
);
---

<a
  href={`/${slug}`}
  class="card bg-base-100 group block no-underline shadow-sm transition-all duration-300 hover:shadow-md"
  aria-label={`${headline} - ${date} - ${blogGlobalData.default_link_text}`}
>
  <Image
    src={imageData.src}
    alt={alt}
    inferSize
    class="h-64 w-full object-cover transition-transform duration-300 group-hover:scale-105"
    loading="lazy"
    decoding="async"
  />
  <div class="card-body">
    <ul class="flex flex-wrap gap-2">
      {
        categories.map((category: any) => (
          <li class={`badge badge-${category?.color}`}>
            {category?.name}
            {category?.icon}
          </li>
        ))
      }
    </ul>
    <h2
      class="card-title text-base-content group-hover:text-primary transition-colors"
    >
      {headline}
    </h2>
    <time
      datetime={formatDateTime(date)}
      class="text-base-content/70 text-sm italic"
    >
      {date}
    </time>
    <div class="text-base-content/80 line-clamp-3">
      <Fragment set:html={introText} />
    </div>
    <div class="card-actions mt-2 justify-end">
      <span class="text-primary flex items-center gap-2 text-sm font-semibold">
        {blogGlobalData.default_link_text}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 transition-transform group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
          focusable="false"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
      </span>
    </div>
  </div>
</a>
