---
import {
  storyblokEditable,
  type SbBlokData,
  renderRichText,
  type StoryblokRichTextNode,
} from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
import { getStoryblokVersion } from "@/src/utils/env";
import type { BlogPostList } from "@/.storyblok/types/285719928053161/storyblok-components";
import { formatDate } from "@/src/utils/date";
import BlogPostCard from "@/src/components/molecules/BlogPostCard.astro";

interface Props {
  blok: BlogPostList;
}

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();

// Fetch blog posts
const { data } = await storyblokApi.get("cdn/stories", {
  version: getStoryblokVersion(),
  starts_with: "blog",
  content_type: "blogPost",
});

// Transform stories into card data
const posts = data.stories.slice(0, 2).map((story: any) => {
  return {
    headline: story.content.headline,
    date: formatDate(story.published_at),
    introText: renderRichText(story.content.introText as StoryblokRichTextNode),
    slug: story.full_slug,
    image: {
      src: story.content.image.filename,
      focus: story.content.image.focus || undefined,
    },
    alt: story.content.image.alt,
    category: story.content.category,
  };
});
---

<section
  {...storyblokEditable(blok as SbBlokData)}
  class="container mx-auto mb-12 max-w-3xl px-4"
>
  <div class="divider divider-start mb-8 text-xl font-bold uppercase">
    {blok.headline}
  </div>

  <ul class="grid gap-6 md:grid-cols-2">
    {
      posts.map((post: any) => (
        <li>
          <BlogPostCard
            headline={post.headline}
            date={post.date}
            introText={post.introText}
            slug={post.slug}
            image={post.image}
            alt={post.alt}
            category={post.category}
          />
        </li>
      ))
    }
  </ul>
</section>
