---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import { getStoryblokVersion } from "@/src/utils/env";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { useStoryblokApi } from "@storyblok/astro";
import { resolveStoryblokUrl } from "@/src/utils/storyblok";
import Link from "@/src/components/atoms/Link.astro";
import type { Footer } from "@/.storyblok/types/285719928053161/storyblok-components";

interface Props {
  blok: Footer;
}

const storyblokApi = useStoryblokApi();

const { blok } = Astro.props;

const [socialMediaData, headerData] = await Promise.all([
  storyblokApi.get("cdn/stories/global/social-media", {
    version: getStoryblokVersion(),
  }),
  storyblokApi.get("cdn/stories/global/header", {
    version: getStoryblokVersion(),
  }),
]);

const socialMedia = socialMediaData.data.story.content;
const socialMediaLinks = socialMedia.body[0].links;

const header = headerData.data.story.content;
// Combine navLinks and ctaButton into a single array
const sitemapLinks =
  header.body[0].navLinks.concat(header.body[0].ctaButton) || [];
---

<footer
  {...storyblokEditable(blok as SbBlokData)}
  class="bg-base-200 text-base-content p-10"
>
  <div class="footer sm:footer-horizontal mx-auto max-w-3xl">
    <nav>
      <h2 class="footer-title">Sitemap</h2>
      {
        sitemapLinks.map((link: any) => (
          <a
            href={resolveStoryblokUrl(link.url)}
            class="link link-hover lg:text-base"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
    <nav>
      <h2 class="footer-title">Legal</h2>
      {blok.legalLinks?.map((link: any) => <StoryblokComponent blok={link} />)}
    </nav>
    <nav>
      <h2 class="footer-title">Social</h2>
      {
        socialMediaLinks?.map((link: any) => (
          <a
            href={resolveStoryblokUrl(link.url)}
            target={link.url.linktype === "email" ? "_self" : "_blank"}
            rel="noopener noreferrer"
            class="link link-hover lg:text-base"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
  {
    blok.copyright && (
      <div class="mt-8 text-center">
        <small class="text-base-content/70">{blok.copyright}</small>
      </div>
    )
  }
  <div class="mt-4 text-center">
    <Link
      blok={{
        url: {
          url: "rss.xml",
          linktype: "story",
          fieldtype: "multilink",
          id: "rss.xml",
          cached_url: "rss.xml",
        },
        text: "RSS Feed",
        variant: "primary",
        size: "sm",
        component: "link",
        _uid: "rss-feed",
      }}
    />
  </div>
</footer>
